@import "tailwindcss";

:root {
  --background: #F7F4F1;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend);
  font-size: 1.7em;
  cursor: default;
}

/* navbar stylings */
.sidebar {
  background-color: #9DD575;
  color: white;
  width: 22rem;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.navbar:hover {
  color: #618F40;
  border: 3px solid #618F40;
  border-radius: 32px;
  padding: 6px 16px;
  background-color: white;
}

.navbar-bottom {
  color: #618F40;
}

/* home stylings */
.welcome {
  color: #9DD575;
  font-size: 1.75em;
}

/* about stylings */

/* experience stylings */

/* projects stylings */

/* contact stylings */
