@import "tailwindcss";

:root {
  --background: #F7F4F1;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend);
  font-size: 1.7em;
  cursor: default;
}

.text-body {
  font-size: 0.9em;
  margin-top: 2;
}
/* navbar stylings */
.sidebar-home {
  background-color: #9DD575;
  color: white;
  width: 18rem;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.navbar-home {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-home:hover {
  color: #618F40;
  border: 3px solid #618F40;
  border-radius: 32px;
  padding: 6px 16px;
  background-color: white;
}

.navbar-home-bottom {
  color: #618F40;
}

.bubble:hover {
	transform: translateY(-3px);
}

.sidebar-about {
  background-color: #F9A75B;
  color: white;
  width: 18rem;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.navbar-about {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-about:hover {
  color: #D06F15;
  border: 3px solid #D06F15;
  border-radius: 32px;
  padding: 6px 16px;
  background-color: white;
}

.navbar-about-bottom {
  color: #D06F15;
}

.sidebar-experience {
  background-color: #53B5AD;
  color: white;
  width: 18rem;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.navbar-experience {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-experience:hover {
  color: #0B6860;
  border: 3px solid #0B6860;
  border-radius: 32px;
  padding: 6px 16px;
  background-color: white;
}

.navbar-experience-bottom {
  color: #0B6860;
}

.sidebar-projects {
  background-color: #C199DF;
  color: white;
  width: 18rem;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.navbar-projects {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-projects:hover {
  color: #6A3791;
  border: 3px solid #6A3791;
  border-radius: 32px;
  padding: 6px 16px;
  background-color: white;
}

.navbar-projects-bottom {
  color: #6A3791;
}

.sidebar-contact {
  background-color: #DF99B9;
  color: white;
  width: 18rem;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.navbar-contact {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-contact:hover {
  color: #AC4976;
  border: 3px solid #AC4976;
  border-radius: 32px;
  padding: 6px 16px;
  background-color: white;
}

.navbar-contact-bottom {
  color: #AC4976;
}

/* home stylings */
.welcome {
  color: #618F40;
  font-size: 1.75em;
  margin-top: 4%;
}

.home-bubble:hover {
	transform: translateY(-12px);
}

/* about stylings */
.about {
  color: #D06F15;
  font-size: 1.75em;
  margin-top: 6%;
}

.headers {
  color: #D06F15;
  font-size: 1.4em;
  margin-bottom: 2%;
}

/* experience stylings */
.experience {
  color: #0B6860;
  font-size: 1.75em;
  margin-top: 8%;
}

/* projects stylings */
.projects {
  color: #6A3791;
  font-size: 1.75em;
  margin-top: 8%;
}

/* contact stylings */
.contact {
  color: #AC4976;
  font-size: 1.75em;
  margin-top: 3%;
}

.box-name {
  width: 80%;
  padding: 12px;
  border: 3px solid #F9A75B;
  border-radius: 32px;
  font-size: 0.8em;
  text-align: center;
}

.box-email {
  width: 80%;
  padding: 12px;
  border: 3px solid #53B5AD;
  border-radius: 32px;
  font-size: 0.8em;
  text-align: center;
}

.box-message {
  width: 80%;
  padding: 12px;
  border: 3px solid #C199DF;
  border-radius: 32px;
  font-size: 0.8em;
  text-align: center;
}

.submit:hover {
  transform: translateY(-12px);
}

.message {
  background-color: #9DD575;
  color: white;
  padding: 6px 12px;
  font-size: 0.8em;
  width: 70%;
  border-radius: 12px;
  text-align: center;
  margin-left: 15%;
  transform: translateY(-90px);
}

/*fixed bottom-6 left-1/2 transform -translate-x-1/2 bg-green-500 text-white px-4 py-2 rounded shadow-md transition-opacity">
 */
